# See http://yaws.hyber.org/yman.yaws?page=yaws.conf

logdir = log

max_num_cached_bytes = 10240000  # 10MB
max_size_cached_file = 102400    # 100KB

<server localhost>
  port           = 3000
  listen         = 0.0.0.0
  listen_backlog = 100

  deflate = true

  <opaque>
    # This is of the app "cntt.tv" on Facebook, you may want to clone this app
    # (http://www.facebook.com/developers/createapp.php) and set the key below
    # to that of your clone
    facebook_key    = your_facebook_key
    facebook_secret = your_facebook_secret

    # See Makefile
    nodes = "khale_n1@ngoc-2.local:khale_n2@ngoc-2.local"

    session_secret = secret

#    cache = cherly:100
#    cache = memcached:localhost:11211
#    cache = memcached_with_libketama:ketama.servers
  </opaque>

  # To start something on startup, you may use start_mod or c_application:start/1

  # These should not be changed
  start_mod    = ale_yaws_mod
  appmods      = </, ale_yaws_mod>  # Ale only supports mounting to /
  errormod_404 = ale_yaws_mod
  allowed_scripts = []  # Set to empty to avoid security risk when the application allows file uploading
</server>
