html { background: #fff; }
body {
  color: #444;
  font-size: 0.8em;
  font-family: "Lucida Grande", "Segoe UI", "Trebuchet MS", Tahoma, Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  margin: 0px;
}

a { color: #E35; text-decoration: none; }
a:hover { color: #E35; text-decoration: underline; }

h1 { font-size: 2.2em; color: #BBB; clear: both; letter-spacing: -1px; }
h2 { font-size: 1.5em; color: #DB0; clear: both; letter-spacing: -1px; }
h3 { font-size: 1.2em; color: #79C; letter-spacing: -1px; }
h4 { font-size: 0.9em; color: #777; text-transform: uppercase;  }
h1, h2, h3, h4 { font-weight: normal; margin-top: 1em; margin-bottom: 0.5em;  }
h1:first-child, h2:first-child, h3:first-child, h4:first-child { margin-top: 0em; }

ul { padding-left: 7px; }
ul li { list-style: disc inside; }

p { margin-top: 10px; }

.clear { clear: both; }

#container {
  margin: 5px auto;
  width: 950px;
  border: solid #EEE 1px;
  padding: 5px;
}

#main_block {
  width: 700px;
  float: left;
}

#sidebar {
  width: 230px;
  float: right;
}

#footer {
  text-align: center;
}

.textbox {
  width: 99%;
}

.textarea {
  width: 100%;
  height: 400px;
}
