#container {
  margin: 10px auto;
}

#footer { text-align: center; }

/* Form */
.label {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 7px;
}

.textbox { width: 99%; border: solid 1px #DDDDDD; }

textarea { width: 98%; height: 400px; }

/* Basic elements */
ul.previews, ul.region, ul.users, ul.discussions {
  margin-left: 0px;
  padding-left: 0px;
}

ul.previews li.preview, ul.region li.block, ul.users li, ul.discussions li.discussion {
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 1em;
  padding-left: 0px;
  padding-bottom: 1em;
}

ul.previews li.preview, ul.discussions li.discussion { border-bottom: solid 1px #EEE; }

blockquote {
  margin: 0 20px;
  padding: 0 20px;
  border-left: 4px solid #E8E7D0;
}

pre {
  display: block;
  background-color: #EEE;
  overflow: auto;
}

code { background-color: #EEE }

/* Misc */
.padding { padding: 10px; }

.quarter { width: 25%; }

.flash { border: solid #9c9 2px; background-color: yellow; padding: 5px; font-weight: bold; }

td.avatar { padding-right: 5px; }

.last_discussion { background-color: #EEE; }

#discussion_composer {
  margin-bottom: 1em;
}

#chat_output {
  border: 1px solid #DDDDDD;
  height: 20em;
  overflow: auto;
}

.button {
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 7px;
}

/* Styling */
a, a:link, a:visited {
    color: #ff5500;
    text-decoration: none;
}

#header a, #left_column a, #right_column a {
    color: #001166;
}

.block .title {
    background-color: #ff4400;
    color: #fff;
    padding-left: 0.5em;
}