html { background: #fff; }
body {
  color: #444;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 1.6em;
  margin: 0px;
}

a { color: #3B5998; text-decoration: none; }
a:hover { color: #3B5998; text-decoration: underline; }

h1 { font-size: 1.6em; color: #BBB; clear: both; letter-spacing: -1px; }
h2 { font-size: 1.3em; color: #DB0; clear: both; letter-spacing: -1px; }
h3 { font-size: 1.0em; color: #DB0; letter-spacing: -1px; }
h4 { font-size: 0.7em; color: #777; text-transform: uppercase;  }
h1, h2, h3, h4 { font-weight: normal; margin-top: 1em; margin-bottom: 0.5em;  }

ul { padding-left: 7px; }
ul li { list-style: disc inside; }

p { margin-top: 10px; }

.clear { clear: both; }

.label {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 7px;
}

#header { border-bottom: solid 1px #EEE; }
#header h1 { font-size: 2.5em; margin-top: 5px; }
#header h2 { font-size: 1.7em; margin-top: 5px; color: gray; font-style: italic; }

#container {
  margin: 5px auto;
  width: 960px;
  border: solid #EEE 1px;
}

#left_column {
  width: 150px;
  float: left;
  background-color: #F5FFFA;
}

#main_and_right {
  width: 810px;
  float: right;
}

#main {
  width: 590px;
  float: left;
}

#right_column {
  width: 220px;
  float: right;
  background-color: #F5FFFA;
}

.padding { padding: 5px; }

#footer { text-align: center; }

.textbox {
  width: 99%;
  border: solid 1px #DDDDDD;
}

.textarea {
  width: 100%;
  height: 400px;
}

ul.previews, ul.region, ul.users, ul.discussions {
  margin-left: 0px;
  padding-left: 0px;
}

ul.previews li.preview, ul.region li.block, ul.users li, ul.discussions li.discussion {
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 1em;
  padding-left: 0px;
  padding-bottom: 1em;
}

ul.previews li.preview, ul.discussions li.discussion { border-bottom: solid 1px #EEE; }

li.odd  { background-color: #EEE; }

textarea {
  width: 100%;
  height: 350px;
}

input[type="submit"] {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 7px;
}

.flash { border: solid #9c9 2px; background-color: yellow; padding: 5px; font-weight: bold; }

td.avatar { padding-right: 5px; }

#discussion_composer {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: solid 1px #EEE;
}

#chat_output {
  border: 1px solid #DDDDDD;
  height: 20em;
  overflow: auto;
}
/*
#chat_output li {
  list-style-type: none;
  margin-left: 0px;
  padding-left: 0px;
}
*/