html { background: #fff; }
body {
  color: #444;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 11px;
  line-height: 1.6em;
  margin: 0px;
}

a { color: #3B5998; text-decoration: none; }
a:hover { color: #3B5998; text-decoration: underline; }

h1 { font-size: 1.6em; color: #BBB; clear: both; letter-spacing: -1px; }
h2 { font-size: 1.3em; color: #DB0; clear: both; letter-spacing: -1px; }
h3 { font-size: 1.0em; color: #DB0; letter-spacing: -1px; }
h4 { font-size: 0.7em; color: #777; text-transform: uppercase;  }
h1, h2, h3, h4 { font-weight: normal; margin-top: 1em; margin-bottom: 0.5em;  }

ul { padding-left: 7px; }
ul li { list-style: disc inside; }

p { margin-top: 10px; }

.clear { clear: both; }

.label {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 7px;
}

#header h1 { font-size: 2.5em; margin-top: 5px }

#container {
  margin: 5px auto;
  width: 960px;
  border: solid #EEE 1px;
  padding: 5px;
}

#main {
  width: 710px;
  float: left;
  padding: 5px;
}

#sidebar {
  width: 230px;
  float: right;
}

#footer {
  text-align: center;
}

.textbox {
  width: 99%;
}

.textarea {
  width: 100%;
  height: 400px;
}

ul.previews, ul.region {
  margin-left: 0px;
  padding-left: 0px;
}

ul.previews li.preview, ul.region li.block, ul#users li {
  list-style-type: none;
  margin-left: 0px;
  margin-bottom: 1em;
  padding-left: 0px;
  padding-bottom: 1em;
  border-bottom: solid 1px #EEE;
}

input[type="text"] {
  width: 99%;
}

textarea {
  width: 100%;
  height: 400px;
}

input[type="submit"] {
  display: block;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 7px;
}

#flash { border: solid #9c9 2px; background-color: yellow; padding: 5px; font-weight: bold; }

td.avatar { padding-right: 5px; }
